@import url('../../../variables.css');

:host {
	display: inline-block;
}

.root {
	display: flex;
	height: var(--slider-height);
	align-items: center;
	justify-content: flex-start;
	line-height: var(--slider-height);
	user-select: none;
}

.input {
	display: none;
}

.toggle {
	position: relative;
	z-index: 0;
	width: var(--slider-width);
	height: var(--slider-height);
	border-radius: calc(var(--slider-height) * 0.5);
	background-color: var(--control-backgroung-color-secondary);
	cursor: pointer;
	outline-color: var(--border-color);
	transition: background-color 0.2s cubic-bezier(0.3, 0.3, 0.5, 1);
	will-change: background-color;

	--slider-diameter: calc(var(--slider-height) - 2 * var(--slider-margin));
}

.toggle:hover,
.toggle:focus,
.toggle:active {
	background-color: var(--control-backgroung-color-secondary-hover);
}

.toggle.checked {
	background-color: var(--control-backgroung-color-primary);
}

.toggle.checked:hover,
.toggle.checked:focus,
.toggle.checked:active {
	background-color: var(--control-backgroung-color-primary-hover);
}

.slider {
	position: absolute;
	z-index: 2;
	top: var(--slider-margin);
	left: var(--slider-margin);
	width: var(--slider-diameter);
	height: var(--slider-diameter);
	border-radius: 100%;
	background-color: var(--control-backgroung-color-light);
	transition: left 0.2s cubic-bezier(0.3, 0.3, 0.5, 1);
	will-change: left;
}

.slider.checked {
	left: calc(var(--slider-width) - var(--slider-diameter) - var(--slider-margin));
}

.label {
	margin-left: var(--x3);
}
