<div class="root">
  <div class="header">
    <div class="traffic-lights">
      <button class="traffic-light traffic-light-close" tabindex="-1"></button>
      <button class="traffic-light traffic-light-minimize" tabindex="-1"></button>
      <button class="traffic-light traffic-light-maximize" tabindex="-1"></button>
    </div>

    <div class="header-text">
      <ui-text mode="base" bold>Chuck Norris Chat</ui-text>
    </div>

    <div class="traffic-lights">&nbsp;</div>
  </div>
  <div class="inner-content">
    <ng-content></ng-content>
  </div>
</div>
