@import url('../../../variables.css');

:host {
	min-width: 320px;
	max-width: 460px;
}

.root {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	border-radius: var(--main-border-radius);
	backdrop-filter: blur(var(--x3));
	background: var(--chatbox-backgroung-color-base);
	box-shadow: 0 var(--x1-with-half) var(--x6) var(--chatbox-shadow-color-light);
	filter: drop-shadow(0 0 20px var(--chatbox-shadow-color-light))
		drop-shadow(0 25px 30px var(--chatbox-shadow-color-solid));
	gap: 0;
}

.inner-content {
	display: block;
	flex-grow: 1;
	border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
	overflow-x: hidden;
	overflow-y: auto;
}

.header {
	display: flex;
	height: var(--x7);
	flex-direction: row;
	border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
	background: #fff;
	box-shadow: 0 0.5px 0 rgb(0 0 0 / 15%), inset 0 -0.5px 0 rgb(0 0 0 / 5%);
	vertical-align: top;
}

.header-text {
	display: inline-block;
	flex-grow: 1;
	line-height: var(--x7);
	text-align: center;
	user-select: none;
}

.traffic-lights {
	display: block;
	width: var(--x12);
	height: var(--x3);
	margin: var(--x2);
	font-size: 0;
}

.traffic-light {
	position: relative;
	width: var(--x3);
	height: var(--x3);
	box-sizing: border-box;
	padding: 0;
	border: 1px solid rgb(0 0 0 / 6%);
	border-radius: 100%;
	margin-right: 3.5px;
	background-color: rgb(227 227 227);
	cursor: pointer;
	outline: none;
}

.header:hover .traffic-light-close {
	background-color: rgb(255 94 87);
}

.header:hover .traffic-light-minimize {
	background-color: rgb(255 187 46);
}

.header:hover .traffic-light-maximize {
	background-color: rgb(56 193 73);
}
