<div class="root">
  <div class="avatar">
    <ui-avatar *ngIf="shouldShowHeadline()" [src]="avatarUrl()" size="small"></ui-avatar>
  </div>

  <div class="body">
    <div class="bubble">
      <div class="headline" *ngIf="shouldShowHeadline()">
        <ui-text class="name" color="light" bold>@{{ author }}</ui-text>
        <ui-text class="role" color="dimmed" mode="small" *ngIf="shouldShowHeadlineRole()">{{
          authorRole
        }}</ui-text>
      </div>

      <ng-template [ngIf]="multiline()">
        <ui-text
          *ngFor="let line of contentAsArray(); trackBy: linesTrackBy"
          class="main-content-line"
          color="light"
          medium
          block
          mode="base"
          >{{ line }}</ui-text
        >
      </ng-template>
      <ng-template [ngIf]="richText()">
        <ui-rich-text
          color="light"
          class="main-rich-content"
          [content]="contentAsRichText()"
        ></ui-rich-text>
      </ng-template>
    </div>
  </div>

  <div class="timestamp">
    <ui-text
      [title]="formatDateForLabel()"
      mode="small"
      color="secondary"
      *ngIf="shouldShowHeadline()"
      >{{ formatDate() }}</ui-text
    >
  </div>
</div>
