@import url('../../../variables.css');

:host {
	display: block;
	padding: var(--x0-with-half) var(--x2);
}

.avatar {
	display: block;
	width: var(--x10);
	flex-shrink: 0;
}

.body {
	flex-grow: 1;
}

.main-content-line {
	margin-bottom: var(--x1);
}

.timestamp {
	display: block;
	width: var(--x14);
	flex-shrink: 0;
	padding-right: var(--x1);
	text-align: right;
	user-select: none;
}

.headline {
	display: block;
}

.role {
	margin-left: var(--x1);
	float: right;
}

.bubble {
	display: block;
	padding: var(--x1-with-half) var(--x2-with-half);
	border-radius: var(--secondary-border-radius);
	background-color: var(--chat-background-color-accent);
	line-height: var(--line-height-base);
}

.root {
	display: flex;
	flex-direction: row;
	gap: var(--x2);
}
