@import url('../../../variables.css');

:host {
	flex-grow: 0;
	flex-shrink: 0;
}

.root {
	display: flex;
	overflow: hidden;
	height: var(--x12);
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: var(--x1-with-half) var(--x2);
	background-color: var(--chatbox-backgroung-color-menu);
	box-shadow: inset 0 -1px 0 var(--border-color);
	font-size: 0;
}

.avatars {
	display: inline-flex;
}

.shift {
	margin-left: calc(-1 * var(--x3));
}

.headline {
	display: inline-flex;
	max-width: var(--x30);
	margin-left: var(--x2);
	user-select: none;
}
