<div class="root">
  <div class="avatars">
    <ui-avatar
      *ngFor="let user of topFourActiveUsers(); first as isFirst; trackBy: usersTrackBy"
      [src]="user.avatarUrl"
      [alt]="user.nickname"
      size="tiny"
      [class.shift]="!isFirst"
      border="highlight"
    ></ui-avatar>
  </div>
  <div class="headline test-id-headline">
    <ui-text mode="base">{{ headline() }}</ui-text>
  </div>
</div>
