.center-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.panel {
	width: 410px;
	min-width: 320px;
	max-width: 90vw;
	height: 70vh;
	min-height: 600px;
	max-height: 700px;
}

.chat-layout {
	position: relative;
	display: flex;
	overflow: hidden;
	height: 100%;
	flex-direction: column;
	font-size: 0;
	gap: 0;
}
