<div class="center-wrapper">
  <div class="panel">
    <ui-panel>
      <div class="chat-layout">
        <forter-chatroom-header [users]="users"></forter-chatroom-header>
        <forter-chatroom-entries
          [ds]="entriesDataSource"
          [dsArray]="entriesDataSourceArray"
        ></forter-chatroom-entries>
        <forter-chatroom-footer
          [sendIcon]="send"
          (newMessageSent)="onNewMessageSubmitted($event)"
        ></forter-chatroom-footer>
      </div>
    </ui-panel>
  </div>
</div>
