@import url('../../../variables.css');

:host {
	flex-grow: 0;
	flex-shrink: 0;
}

.root {
	display: flex;
	overflow: hidden;
	height: var(--x10);
	flex-direction: row;
	padding: var(--x1-with-half) var(--x2);
	background-color: var(--chatbox-backgroung-color-menu);
	box-shadow: inset 0 1px 0 var(--border-color);
	font-size: 0;
	gap: var(--x2);
}

.inputs {
	height: var(--x10);
	flex-grow: 1;
}

.controls {
	height: var(--x10);
	flex-shrink: 0;
}
