<form class="root" [formGroup]="messageInputForm" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <ui-text-input
      formControlName="messageInput"
      placeholder="Start typing or use /help for help"
      style="margin-bottom: 4px"
    ></ui-text-input>
  </div>

  <div class="controls">
    <ui-button
      [icon]="sendIcon"
      color="transparent"
      type="submit"
      [disabled]="isEmpty()"
    ></ui-button>
  </div>
</form>
