@import url('../../../variables.css');

.root {
	display: inline-block;
	width: 100%;
}

.input {
	width: 100%;
	height: var(--control-size);
	padding: 0;
	border: none;
	background: transparent;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	outline: none;
}
