@import url('../../../variables.css');

:host {
	display: inline-block;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

.avatar {
	overflow: hidden;
	border-radius: 50%;
	box-shadow: rgb(0 0 0 / 12%) 0 0 0 var(--thin) inset;
}

.large {
	width: var(--avatar-size-large);
	height: var(--avatar-size-large);
}

.small {
	width: var(--avatar-size-small);
	height: var(--avatar-size-small);
}

.tiny {
	width: var(--avatar-size-tiny);
	height: var(--avatar-size-tiny);
}

.highlight {
	outline: var(--color-invert) solid var(--x0-with-half);
}
