@import url('../../../variables.css');

:host {
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

.color-base {
	fill: var(--color-base);
}

.color-dark {
	fill: var(--color-dark);
}

.color-light {
	fill: var(--color-light);
}

.size-base {
	width: var(--icon-size-base);
	height: var(--icon-size-base);
}

.size-giant {
	width: var(--icon-size-giant);
	height: var(--icon-size-giant);
}

.root {
	display: block;
}
