<a [ngClass]="buttonClasses()" [routerLink]="href" *ngIf="href" queryParamsHandling="merge">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<button [type]="type" [ngClass]="buttonClasses()" *ngIf="!href" [disabled]="disabled">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content>
  <ui-icon *ngIf="icon" [source]="icon" [ngClass]="iconClasses()" color="inherit"></ui-icon>
  <span class="innerText" #contentProjection><ng-content></ng-content></span>
</ng-template>
