@import url('../../../variables.css');

:host {
	position: relative;
	display: block;
	flex-grow: 1;
	overflow-y: scroll;
}

.root {
	position: relative;
	display: block;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	font-size: 0;
	overflow-y: auto;
}

.scroll-viewport {
	height: 100%;
	box-sizing: content-box;
}
