<div class="root">
  <div class="scroll-viewport">
    <forter-entry-renderer
      #entry
      *ngFor="let entry of entries(); trackBy: entriesTrackBy"
      [entry]="entry"
    ></forter-entry-renderer>
  </div>

  <!--	<cdk-virtual-scroll-viewport-->
  <!--		class="scroll-viewport"-->
  <!--		autosize-->
  <!--		minBufferPx="20000"-->
  <!--		maxBufferPx="100000"-->
  <!--	>-->
  <!--		<forter-entry-renderer-->
  <!--			*cdkVirtualFor="let entry of ds; trackBy: entriesTrackBy"-->
  <!--			[entry]="entry"-->
  <!--		></forter-entry-renderer>-->
  <!--	</cdk-virtual-scroll-viewport>-->
</div>
