@import url('~normalize.css');
@import url('variables.css');

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--page-backgroung-color-base);
	color: var(--color-base);
	font: 13px/16px var(--font-family);
	font-weight: 300;
	-webkit-tap-highlight-color: transparent;
	/* stylelint-disable-next-line property-no-unknown */
	tap-highlight-color: transparent;
	text-size-adjust: none;
	will-change: background-color, color;
}

body {
	display: table;
	min-width: var(--x80);
	max-width: 100vw;
	min-height: var(--x100);
}

mark {
	background-color: var(--color-highlight);
	color: inherit;
}
