/* stylelint-disable custom-property-empty-line-before */

:root {
	--font-family: 'Helvetica Neue', helvetica, arial, sans-serif;

	--x0-with-half: 2px;
	--x1: 4px;
	--x1-with-half: 6px;
	--x2: 8px;
	--x2-with-half: 10px;
	--x3: 12px;
	--x4: 16px;
	--x5: 20px;
	--x6: 24px;
	--x7: 28px;
	--x8: 32px;
	--x10: 40px;
	--x12: 48px;
	--x13: 52px;
	--x14: 56px;
	--x16: 64px;
	--x18: 72px;
	--x20: 80px;
	--x25: 100px;
	--x30: 120px;
	--x40: 160px;
	--x50: 200px;
	--x60: 240px;
	--x80: 320px;
	--x100: 400px;
	--x120: 480px;

	--x192: 756px;
	--x256: 1024px;

	--thin: 1px;

	--main-border-radius: var(--x2-with-half);
	--secondary-border-radius: var(--x2);

	--control-size: var(--x10);
	--icon-size-base: var(--x5);
	--icon-size-giant: var(--x16);

	--avatar-size-large: var(--x16);
	--avatar-size-small: var(--x10);
	--avatar-size-tiny: var(--x8);

	--spinner-size-base: var(--x16);

	--slider-width: var(--x12);
	--slider-height: var(--x6);
	--slider-margin: 3px;

	--thread-item-height: var(--x25);
	--thread-item-snippet-height: var(--x10);
	--thread-item-snippet-line-clamp: 2;

	--color-base: #333;
	--color-invert: #fff;

	--color-dark: #333;
	--color-light: #fff;
	--color-dimmed: rgb(200 200 200 / 90%);

	--color-highlight: rgb(255 255 127 / 33%);
	--color-secondary: #999;
	--color-error: #f10;
	--color-primary: #005ff9;

	--border-color: #e0e2e8;

	--page-backgroung-color-base: #fff;
	--headline-background-color: #005ff9;
	--chatbox-backgroung-color-base: rgb(255 255 255 / 85%);
	--chatbox-backgroung-color-menu: rgb(255 255 255 / 90%);
	--chatbox-shadow-color-light: rgb(0 0 0 / 15%);
	--chatbox-shadow-color-solid: rgb(0 0 0 / 35%);

	--controls-backgroung-color-base: #fff;
	--controls-backgroung-color-hover: #f5f5f7;
	--controls-backgroung-color-active: #ebecef;

	--control-backgroung-color-primary: #005ff9;
	--control-backgroung-color-primary-hover: #005cf1;

	--control-backgroung-color-secondary: rgb(0 16 61 / 8%);
	--control-backgroung-color-secondary-hover: rgb(0 16 61 / 11.8%);

	--control-backgroung-color-light: #fff;
	--control-backgroung-color-light-hover: #f5f5f7;

	--control-backgroung-color-dark: rgb(255 255 255 / 8%);
	--control-backgroung-color-dark-hover: rgb(255 255 255 / 16%);

	--chat-color-accent: #fff;
	--chat-background-color-accent: #007aff;

	--font-size-small: 13px;
	--font-size-base: 15px;
	--font-size-subheader: 20px;
	--font-size-header: 24px;

	--line-height-small: 20px;
	--line-height-base: 20px;
	--line-height-subheader: 28px;
	--line-height-header: 32px;
}

html.dark,
.dangerously-dark {
	--color-base: #fff;
	--color-invert: #333;

	--headline-background-color: #161616;

	--border-color: #000;

	--page-backgroung-color-base: #000;
	--controls-backgroung-color-base: #1f1f1f;
	--controls-backgroung-color-hover: #313131;
	--controls-backgroung-color-active: #3a3a3a;

	--control-backgroung-color-secondary: rgb(255 255 255 / 8%);
	--control-backgroung-color-secondary-hover: rgb(255 255 255 / 16%);
}
